<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1> 
    Name :- <%=obj.name%> <br>
    Address <%=obj.address%> <br>
    website :-  <%=obj.website%> <br>
    sector :- <%=obj.sector%> <br>
    industry :- <%=obj.industry%> <br> 
    about :- <%=obj.about%> <br> 
    currentPrice  :- <%=obj.currentPrice%> <%=obj.currency%> <br>

</body>
</html>